Tipos de Datos

Copy vs View

In [ ]:

import numpy as np

Concatenar

In [ ]:
arr1 = np.array([1,2,3])
print("arr1 ", arr1)
arr2 = np.array([4,5,6])
print("arr2 ", arr2)
arr3 = np.concatenate((arr1,arr2))
print("arr3 ",arr3)

arr1  [1 2 3]
arr2  [4 5 6]
arr3  [1 2 3 4 5 6]

Busqueda

In [ ]:
arr = np.array([1,2,2,4,5,5,4])
x = np.where(arr ==4)
print(x)

(array([3, 6]),)

Ordenar

In [ ]:
arr = np.array([2,5,6,4,1,3,8,9])
x = np.sort(arr)
print(x)

[1 2 3 4 5 6 8 9]

# ***Pandas***

In [ ]:
pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2022.7.1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.22.4)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [ ]:
import pandas as pd

***Series***

In [ ]:
a = np.array([1,2,3])
srs = pd.Series(a)
print(srs)
print(srs[0])

0    1
1    2
2    3
dtype: int64
1

In [ ]:
srs = pd.Series(a, index =['x','y','z'])
print(srs)
print(srs['x'])

x    1
y    2
z    3
dtype: int64
1

In [ ]:
srs = pd.Series(a)

DataFrame

In [ ]:
mydataset = {
    'operador':['John Doe', "Sr. X","Lorem ipsum"],
    'no. reloj':[101,202,303]
}

df = pd.DataFrame(mydataset)

In [ ]:
df[df['no. reloj']>d]

In [ ]:
df['asistencia']=[True, False, True]

In [ ]:
print(df)

      operador  no. reloj  asistencia
0     John Doe        101        True
1        Sr. X        202       False
2  Lorem ipsum        303        True

In [ ]:
print(df.loc[0])

operador      John Doe
no. reloj          101
asistencia        True
Name: 0, dtype: object

In [ ]:
print(df.loc[[0,1]])

   operador  no. reloj  asistencia
0  John Doe        101        True
1     Sr. X        202       False

In [ ]:
df = pd.DataFrame(mydataset, index = ["CEO","COO","CFO"])
print(df)

        operador  no. reloj
CEO     John Doe        101
COO        Sr. X        202
CFO  Lorem ipsum        303

In [ ]:
print(df.loc[["CEO"]])

     operador  no. reloj
CEO  John Doe        101

Vistas

In [ ]:
df.head()

,Marca temporal,1.- ¿De dónde eres?,2.- ¿Cuántos años tienes?,3.- ¿Estudias?,4.- ¿Trabajas?,5.- ¿Cuál es tu nivel de conocimiento en Python?,6.- ¿Qué tema relacionado con Python te gustaría aprender?,7.- ¿Has participado en algún curso anteriormente en el IA Center?,8.- ¿Cuál es tu canción favorita?
0,2023/06/27 7:42:12 p. m. GMT-6,Cd. Juárez,Entre 21 y 24,Sí,No,Básico,Manejar bases de datos,No,The Wolf
1,2023/06/27 7:42:28 p. m. GMT-6,"chihuahua, chihuahua",Entre 21 y 24,Sí,Sí,Básico,machine lerning,Sí,"eternity, anyma"
2,2023/06/27 7:42:44 p. m. GMT-6,Chihuahua Chihuahua,Entre 18 y 20,Sí,Sí,Básico,Automatización y creación de apps/páginas web,No,Cornerstone- Arctic Monkeys :)
3,2023/06/27 7:42:52 p. m. GMT-6,Chihuahua Chihuahua,Entre 21 y 24,Sí,Sí,Básico,Análisis de datos,Sí,Sea Gets Hotter
4,2023/06/27 7:42:56 p. m. GMT-6,"Chihuahua, Chih.",Más de 30,No,Sí,Básico,Conocer más librerias,Sí,"Love Me More, de Sam Smith"

In [ ]:
df.tail()

,Marca temporal,1.- ¿De dónde eres?,2.- ¿Cuántos años tienes?,3.- ¿Estudias?,4.- ¿Trabajas?,5.- ¿Cuál es tu nivel de conocimiento en Python?,6.- ¿Qué tema relacionado con Python te gustaría aprender?,7.- ¿Has participado en algún curso anteriormente en el IA Center?,8.- ¿Cuál es tu canción favorita?
38,2023/06/27 10:02:11 p. m. GMT-6,"Ciudad Juarez, Chih",Entre 21 y 24,No,Sí,Básico,Analisis de datos,Sí,https://youtu.be/BGVUiMskx_U
39,2023/06/27 10:31:28 p. m. GMT-6,cd juarez,Entre 21 y 24,Sí,Sí,Básico,punteros,Sí,porter guiame quetzal
40,2023/06/28 10:12:04 p. m. GMT-6,Chihuahua,Entre 21 y 24,No,Sí,Básico,Machine Learning y Deep Learning,Sí,Runaway
41,2023/06/29 2:00:51 a. m. GMT-6,Vivo en Ciudad Juárez. Soy cubana,Más de 30,Sí,No,Intermedio,"Cómo escribir un código de forma profesional, ...",No,"Hay varias, pero últimamente escucho mucho ""Cu..."
42,2023/07/03 1:55:24 p. m. GMT-6,Ciudad Juarez,Más de 30,No,Sí,Intermedio,Automatizacion,No,David Bowie - Heroes

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43 entries, 0 to 42
Data columns (total 9 columns):
 #   Column                                                              Non-Null Count  Dtype
---  ------                                                              --------------  -----
 0   Marca temporal                                                      43 non-null     object
 1   1.- ¿De dónde eres?                                                 43 non-null     object
 2   2.- ¿Cuántos años tienes?                                           43 non-null     object
 3   3.- ¿Estudias?                                                      43 non-null     object
 4   4.- ¿Trabajas?                                                      43 non-null     object
 5   5.- ¿Cuál es tu nivel de conocimiento en Python?                    43 non-null     object
 6   6.- ¿Qué tema relacionado con Python te gustaría aprender?          43 non-null     object
 7   7.- ¿Has participado en algún curso anteriormente en el IA Center?  43 non-null     object
 8   8.- ¿Cuál es tu canción favorita?                                   43 non-null     object
dtypes: object(9)
memory usage: 3.1+ KB

CSV

In [ ]:
df=pd.read_csv('Perfil de estudiante.csv')
print(df.to_string())

                     Marca temporal                        1.- ¿De dónde eres? 2.- ¿Cuántos años tienes? 3.- ¿Estudias? 4.- ¿Trabajas? 5.- ¿Cuál es tu nivel de conocimiento en Python?                                           6.- ¿Qué tema relacionado con Python te gustaría aprender? 7.- ¿Has participado en algún curso anteriormente en el IA Center?                             8.- ¿Cuál es tu canción favorita?
0    2023/06/27 7:42:12 p. m. GMT-6                                 Cd. Juárez             Entre 21 y 24             Sí             No                                           Básico                                                                               Manejar bases de datos                                                                 No                                                      The Wolf
1    2023/06/27 7:42:28 p. m. GMT-6                       chihuahua, chihuahua             Entre 21 y 24             Sí             Sí                                           Básico                                                                                      machine lerning                                                                 Sí                                               eternity, anyma
2    2023/06/27 7:42:44 p. m. GMT-6                        Chihuahua Chihuahua             Entre 18 y 20             Sí             Sí                                           Básico                                                        Automatización y creación de apps/páginas web                                                                 No                                Cornerstone- Arctic Monkeys :)
3    2023/06/27 7:42:52 p. m. GMT-6                        Chihuahua Chihuahua             Entre 21 y 24             Sí             Sí                                           Básico                                                                                    Análisis de datos                                                                 Sí                                               Sea Gets Hotter
4    2023/06/27 7:42:56 p. m. GMT-6                           Chihuahua, Chih.                 Más de 30             No             Sí                                           Básico                                                                                Conocer más librerias                                                                 Sí                                    Love Me More, de Sam Smith
5    2023/06/27 7:42:57 p. m. GMT-6                                     Puebla             Entre 21 y 24             Sí             Sí                                           Básico                                                                                  APIS y data science                                                                 No                                      Fireflight - Unbreakable
6    2023/06/27 7:42:57 p. m. GMT-6                            Cd. Juarez Chih                 Más de 30             No             Sí                                       Intermedio                                                                                    Analisis de Datos                                                                 Sí                                          Instrumental General
7    2023/06/27 7:43:04 p. m. GMT-6                              Ciudad Juarez             Entre 21 y 24             Sí             Sí                                           Básico                                                                                     Ciencia de datos                                                                 Sí                                     La bruja de Marco Flores
8    2023/06/27 7:43:10 p. m. GMT-6                             Aguascalientes             Entre 18 y 20             Sí             No                                           Básico  Me gustaria aprender un poco de todo, pero mas que nada me gustaria practicar mas los conocimientos                                                                 No                                           Canela-Nanpa Basico
9    2023/06/27 7:43:12 p. m. GMT-6                           Cd Juarez, Chih.             Entre 21 y 24             Sí             No                                           Básico                                       No tengo un tema en especifico, solo deseo repasar y aprender                                                                  Sí          Depende del momento hy del día, ahora es Hielo - Zoé
10   2023/06/27 7:43:12 p. m. GMT-6                                     Juárez             Entre 21 y 24             Sí             Sí                                           Básico                                                                                    Análisis de datos                                                                 No                                                    No tengo:(
11   2023/06/27 7:43:16 p. m. GMT-6                                 El Paso TX             Entre 18 y 20             Sí             No                                           Básico                                                                                                  POO                                                                 No                                 The Words I Never Said / Mage
12   2023/06/27 7:43:16 p. m. GMT-6                       Cuauhtemoc Chihuahua                 Más de 30             No             Sí                                       Intermedio                                                                              Web y análisis de datos                                                                 No                                              Dust in the wind
13   2023/06/27 7:43:29 p. m. GMT-6                                Cd. Juárez              Entre 21 y 24             Sí             Sí                                           Básico                         Flujos de trabajo, análisis de datos, análisis estadístico y automatización                                                                  Sí                                       Manto estelar - Moenia
14   2023/06/27 7:43:34 p. m. GMT-6                                    Hidalgo             Entre 25 y 29             Sí             Sí                                           Básico                                                                                        Deep learning                                                                 No                                                         Todas
15   2023/06/27 7:43:50 p. m. GMT-6                          Cd. Juarez, Chih.             Entre 21 y 24             Sí             Sí                                           Básico                                                               Programación orientada a objetos (POO)                                                                 Sí                        Skillet-Comatose y Whisper in the Dark
16   2023/06/27 7:44:01 p. m. GMT-6                       Cd. Juarez Chihuahua                 Más de 30             No             Sí                                           Básico                                        un poco de todo para irme familiarizandome a la prograamacion                                                                 Sí                             el hada y el mago de reta blancha
17   2023/06/27 7:44:01 p. m. GMT-6             Ciudad Juarez Chihuahua Mexico             Entre 21 y 24             No             No                                           Básico                                                                                            API y IA                                                                  Sí   https://youtu.be/dQw4w9WgXcQ y https://youtu.be/yJDBmP9Mexk
18   2023/06/27 7:44:12 p. m. GMT-6                              Ciudad Juarez                 Más de 30             Sí             No                                           Básico                                                       Web Scrapping y limpieza de conjuntos de datos                                                                 Sí                                              Hotel California
19   2023/06/27 7:44:14 p. m. GMT-6                           Chihuahua, Chih.                 Más de 30             No             Sí                                           Básico                                                                                    análisis de datos                                                                 Sí   no tengo canción favorita, prácticamente no escucho música
20   2023/06/27 7:44:17 p. m. GMT-6                              Ciudad Juarez             Entre 18 y 20             Sí             No                                           Básico                                                       Analisis de datos y su uso para desarrollo web                                                                 No                                     Burn My Dread - Persona 3
21   2023/06/27 7:44:20 p. m. GMT-6               Cd Juárez Chihuahua, México.                 Más de 30             No             Sí                                           Básico                                                        Ciencia de Datos, y API`s y Todo lo de Python                                                                 Sí                                                          ....
22   2023/06/27 7:44:25 p. m. GMT-6                              Ciudad Juárez                 Más de 30             No             Sí                                           Básico                                                       recolección, limpieza y visualización de datos                                                                 Sí                                                   Todo cuenta
23   2023/06/27 7:44:30 p. m. GMT-6                                 Cd. Juárez             Entre 25 y 29             Sí             No                                           Básico                                                                                     Ciencia de datos                                                                 Sí                                             Chosen - Maneskin
24   2023/06/27 7:44:31 p. m. GMT-6                                     Juarez             Entre 25 y 29             Sí             Sí                                           Básico         Como hacer una interfaz para poder hacer un programa funcional para terceros. Python con SQL                                                                 Sí                                             God's Plan- Drake
25   2023/06/27 7:45:04 p. m. GMT-6                     Cd. Juárez, Chihuahua              Entre 18 y 20             Sí             No                        Nunca he utilizado Python                                                                      Programación para uso academico                                                                 No                    A man without love - Engelbert Humperdinck
26   2023/06/27 7:45:37 p. m. GMT-6                            Aguascalientes              Entre 21 y 24             Sí             No                                       Intermedio                                                                  un poco de inteligencia artificial                                                                  No                                              Love of my life
27   2023/06/27 7:45:45 p. m. GMT-6                                 Cd. Juarez             Entre 15 y 17             Sí             No                                           Básico                                                                                               Bucles                                                                 Sí                               Jorge Drexler - El Plan Maestro
28   2023/06/27 7:46:10 p. m. GMT-6  San Francisco de los Romo, Aguascalientes             Entre 18 y 20             Sí             No                                           Básico                                           Librerias con aplicaciones en el mundo de las matemáticas.                                                                 No                                     Inolvidable - Luis Miguel
29   2023/06/27 7:46:14 p. m. GMT-6                                  Chihuahua             Entre 18 y 20             Sí             Sí                                           Básico                                                                                           desarrollo                                                                 No                                                     Last Call
30   2023/06/27 7:46:28 p. m. GMT-6                              Ciudad Juárez             Entre 21 y 24             Sí             No                                           Básico                                                                               Procesamiento de datos                                                                 Sí                              Lacrimosa- Matt Kent, Amber Dawn
31   2023/06/27 7:46:32 p. m. GMT-6                                 Zacatecas              Entre 25 y 29             Sí             Sí                                           Básico                                                                                                 Apis                                                                 Sí                                          All the small things
32   2023/06/27 7:46:37 p. m. GMT-6                              Ciudad Juarez             Entre 21 y 24             Sí             Sí                                           Básico                                                                                      MachineLearning                                                                 No                           Like I Love You - Justin Timberlake
33   2023/06/27 7:49:23 p. m. GMT-6                              Ciudad Juárez             Entre 18 y 20             Sí             No                                           Básico                                                                    Ciencia de Datos y automatización                                                                 Sí                  Cold Heart - PNAU REMIX Elton Jhon, Dua Lipa
34   2023/06/27 7:51:23 p. m. GMT-6                              Ciudad Juarez             Entre 25 y 29             Sí             Sí                                       Intermedio                                                                        ciencia de datos, webscraping                                                                 Sí                                 Gorillaz - On Melancholy Hill
35   2023/06/27 7:55:00 p. m. GMT-6                Veracruz, estudio en Puebla             Entre 25 y 29             Sí             No                                           Básico                                                                Lo relacionado con análisis de datos.                                                                 Sí        En este momento Los Años Maravillosos de Little Jesus
36   2023/06/27 8:05:42 p. m. GMT-6                                       CDMX             Entre 25 y 29             No             Sí                                           Básico                                                                                         web scraping                                                                 No                                                   Young Turks
37   2023/06/27 8:22:29 p. m. GMT-6                           Estado de Mexico             Entre 21 y 24             Sí             Sí                                           Básico                                                                  librerias, bloques paquetes etc....                                                                 No                                       the weeknd- Out of time
38  2023/06/27 10:02:11 p. m. GMT-6                        Ciudad Juarez, Chih             Entre 21 y 24             No             Sí                                           Básico                                                                                    Analisis de datos                                                                 Sí                                  https://youtu.be/BGVUiMskx_U
39  2023/06/27 10:31:28 p. m. GMT-6                                  cd juarez             Entre 21 y 24             Sí             Sí                                           Básico                                                                                             punteros                                                                 Sí                                        porter guiame quetzal
40  2023/06/28 10:12:04 p. m. GMT-6                                  Chihuahua             Entre 21 y 24             No             Sí                                           Básico                                                                     Machine Learning y Deep Learning                                                                 Sí                                                       Runaway
41   2023/06/29 2:00:51 a. m. GMT-6          Vivo en Ciudad Juárez. Soy cubana                 Más de 30             Sí             No                                       Intermedio       Cómo escribir un código de forma profesional, utilizando las herramientas necesarias y óptimas                                                                 No  Hay varias, pero últimamente escucho mucho "Cuba Isla Bella"
42   2023/07/03 1:55:24 p. m. GMT-6                              Ciudad Juarez                 Más de 30             No             Sí                                       Intermedio                                                                                       Automatizacion                                                                 No                                         David Bowie - Heroes

# ***JSON***

In [78]:
df = pd.read_json('dataset.json')
print(df.to_string())

                                                 personas
0      {'nombre': 'Juan', 'edad': 25, 'ciudad': 'Madrid'}
1  {'nombre': 'María', 'edad': 30, 'ciudad': 'Barcelona'}
2   {'nombre': 'Pedro', 'edad': 35, 'ciudad': 'Valencia'}

***Limpieza de datos***

In [111]:
data = {
    'Nombre':['Juan','Maria','Pedro','Ana','Luis'],
    'Edad': [25, 32, None, 42, 28],

    'Fecha': ['31/01/2020', '31/01/2020', None, '31/01/2020', '01/31/2020'],

    'Género': ['M', 'F', None, 'F', 'M'],

    'Ciudad': ['Madrid', None, 'Madrid', 'Valencia', 'Barcelona'],

    'Altura': [175, 163, 180, 158, 170],

    'Peso': [70, None, 80, 60, 75],

    'Ingresos': [50000, 60000, 40000, None, 55000]
}

In [173]:
df = pd.DataFrame(data)
print(df)

  Nombre  Edad       Fecha Género     Ciudad  Altura  Peso  Ingresos
0   Juan  25.0  31/01/2020      M     Madrid     175  70.0   50000.0
1  Maria  32.0  31/01/2020      F       None     163   NaN   60000.0
2  Pedro   NaN        None   None     Madrid     180  80.0   40000.0
3    Ana  42.0  31/01/2020      F   Valencia     158  60.0       NaN
4   Luis  28.0  01/31/2020      M  Barcelona     170  75.0   55000.0
5   Luis  28.0  01/31/2020      M  Barcelona     170  75.0   55000.0

In [114]:
df_sin_vacios=df.dropna()
print(df_sin_vacios.to_string())

  Nombre  Edad       Fecha Género     Ciudad  Altura  Peso  Ingresos
0   Juan  25.0  31/01/2020      M     Madrid     175  70.0   50000.0
4   Luis  28.0  01/31/2020      M  Barcelona     170  75.0   55000.0

In [109]:
df.dropna(inplace=True)
print(df.to_string())

  Nombre  Edad       Fecha Género     Ciudad  Altura  Peso  Ingresos
0   Juan  25.0  31/01/2020      M     Madrid     175  70.0   50000.0
4   Luis  28.0  01/31/2020      M  Barcelona     170  75.0   55000.0

In [144]:
dfrelleno=df.fillna('Sin registro')
print(dfrelleno.to_string())

  Nombre          Edad         Fecha        Género        Ciudad  Altura          Peso  Ingresos
0   Juan          25.0    31/01/2020             M        Madrid     175          70.0   50000.0
1  Maria          32.0    31/01/2020             F  Sin registro     163  Sin registro   60000.0
2  Pedro  Sin registro  Sin registro  Sin registro        Madrid     180          80.0   40000.0
3    Ana          42.0    31/01/2020             F      Valencia     158          60.0       0.0
4   Luis          28.0    01/31/2020             M     Barcelona     170          75.0   55000.0

In [143]:
df_cero=df["Ingresos"].fillna(0)
print(df_cero)

0    50000.0
1    60000.0
2    40000.0
3        0.0
4    55000.0
Name: Ingresos, dtype: float64

In [131]:
media =df["Ingresos"].mean()
print(media)

41000.0

In [153]:
df_media=df["Ingresos"].fillna(media)
print(df_media)

0    50000.0
1    60000.0
2    40000.0
3        0.0
4    55000.0
Name: Ingresos, dtype: float64

In [147]:
mediana = df["Ingresos"].median()
print(mediana)

50000.0

In [145]:
df_mediana=df["Ingresos"].fillna(mediana)
print(df_mediana)

0    50000.0
1    60000.0
2    40000.0
3        0.0
4    55000.0
Name: Ingresos, dtype: float64

In [154]:
df.loc[1,'Peso']=70
print(df)

  Nombre  Edad       Fecha Género     Ciudad  Altura  Peso  Ingresos
0   Juan  25.0  31/01/2020      M     Madrid     175  70.0   50000.0
1  Maria  32.0  31/01/2020      F       None     163  70.0   60000.0
2  Pedro   NaN        None   None     Madrid     180  80.0   40000.0
3    Ana  42.0  31/01/2020      F   Valencia     158  60.0       0.0
4   Luis  28.0  01/31/2020      M  Barcelona     170  75.0   55000.0

In [176]:
df.duplicated()
#print(df)

0    False
1    False
2    False
3    False
4    False
dtype: bool

In [177]:
data = {
    'Nombre':['Juan','Maria','Pedro','Ana','Luis','Luis'],
    'Edad': [25, 32, None, 42, 28,28],

    'Fecha': ['31/01/2020', '31/01/2020', None, '31/01/2020', '01/31/2020', '01/31/2020'],

    'Género': ['M', 'F', None, 'F', 'M','M'],

    'Ciudad': ['Madrid', None, 'Madrid', 'Valencia', 'Barcelona','Barcelona'],

    'Altura': [175, 163, 180, 158, 170,170],

    'Peso': [70, None, 80, 60, 75,75],

    'Ingresos': [50000, 60000, 40000, None, 55000,55000]
}

df = pd.DataFrame(data)
print(df)

  Nombre  Edad       Fecha Género     Ciudad  Altura  Peso  Ingresos
0   Juan  25.0  31/01/2020      M     Madrid     175  70.0   50000.0
1  Maria  32.0  31/01/2020      F       None     163   NaN   60000.0
2  Pedro   NaN        None   None     Madrid     180  80.0   40000.0
3    Ana  42.0  31/01/2020      F   Valencia     158  60.0       NaN
4   Luis  28.0  01/31/2020      M  Barcelona     170  75.0   55000.0
5   Luis  28.0  01/31/2020      M  Barcelona     170  75.0   55000.0

In [175]:
df.drop_duplicates(inplace=True)

In [181]:
data={
    'A':[1,2,3,4,5],
    'B':[5,4,3,2,1],
    'C':[2,4,6,8,10],
}
df=pd.DataFrame(data)
print(df)

   A  B   C
0  1  5   2
1  2  4   4
2  3  3   6
3  4  2   8
4  5  1  10

In [182]:
df.corr()

     A    B    C
A  1.0 -1.0  1.0
B -1.0  1.0 -1.0
C  1.0 -1.0  1.0

*Matplotlib*